In [0]:
"""Performing Data Cleaning"""

In [0]:
# dependencies
import pandas as pd
import numpy as np

In [2]:

# in the first column there is one blank entry and one NA written.
# reading the data
df = pd.read_csv("property data.csv")

# printing the data
print(df['ST_NUM'])

0     104.0
1     197.0
2       NaN
3     201.0
4     203.0
5     207.0
6       NaN
7     213.0
8     215.0
9     218.0
10      NaN
11    205.0
12    220.0
Name: ST_NUM, dtype: float64

In [3]:
# verifying that the panda recognize the missing values
print(df['ST_NUM'].isnull())
# only two true values are seen meaning pandas has recognized the two missing values.

0     False
1     False
2      True
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10     True
11    False
12    False
Name: ST_NUM, dtype: bool

In [4]:
# observing the third column
print(df['NUM_BEDROOMS'])
print(df['NUM_BEDROOMS'].isnull())

0       3
1       3
2     NaN
3       1
4       3
5     NaN
6       2
7      --
8      na
9       3
10      4
11    NaN
12      5
Name: NUM_BEDROOMS, dtype: object
0     False
1     False
2      True
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11     True
12    False
Name: NUM_BEDROOMS, dtype: bool

In [5]:
# we can see that only capital NAN are considered as missing values,
# so create a manual list of missing values and then run the code.
missing_values = ["n/a","na","--"]
df = pd.read_csv("property data.csv",na_values=missing_values)

print(df['NUM_BEDROOMS'])
print(df['NUM_BEDROOMS'].isnull())

0     3.0
1     3.0
2     NaN
3     1.0
4     3.0
5     NaN
6     2.0
7     NaN
8     NaN
9     3.0
10    4.0
11    NaN
12    5.0
Name: NUM_BEDROOMS, dtype: float64
0     False
1     False
2      True
3     False
4     False
5      True
6     False
7      True
8      True
9     False
10    False
11     True
12    False
Name: NUM_BEDROOMS, dtype: bool

In [9]:
# we can see from the above output that now all missing values are recognized.
# Now if we look at the 4th column.we can see that number 12 data is incorrect type.As the result should be Y or N

# running pandas on the column to see if it recongnizes the missing values.
print(df['OWN_OCCUPIED'])
print(df['OWN_OCCUPIED'].isnull())

# we can see that missing value is detected but the  12 is not detected.

0      Y
1      N
2      N
3     12
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: OWN_OCCUPIED, dtype: object
0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
Name: OWN_OCCUPIED, dtype: bool

In [6]:
consta  = 0
for row in df['OWN_OCCUPIED']:
  try:
    int(row)
    df.loc[consta,'OWN_OCCUPIED']=np.nan
  except ValueError:
    pass
  consta+=1    

print(df['OWN_OCCUPIED'])
print(df['OWN_OCCUPIED'].isnull())

# now 12 is also recognized as missing value

0       Y
1       N
2       N
3     NaN
4       Y
5       Y
6     NaN
7       Y
8       Y
9       N
10    NaN
11      Y
12      N
Name: OWN_OCCUPIED, dtype: object
0     False
1     False
2     False
3      True
4     False
5     False
6      True
7     False
8     False
9     False
10     True
11    False
12    False
Name: OWN_OCCUPIED, dtype: bool

In [9]:
# to see all the missing values
print(df.isnull().sum())

# to check if any missing value present
print("Missing values : " , df.isnull().values.any())

# total number of missing values
print("Total number of missing values : " , df.isnull().sum().sum())

ST_NUM          3
ST_NAME         0
OWN_OCCUPIED    3
NUM_BEDROOMS    5
dtype: int64
Missing values :  True
Total number of missing values :  11